<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <label for="num-run">Number Run: </label>
    <input type="number" id="num-run"/>
    <button id="run">Run Test</button>
    <div style="position: relative;">
        <canvas id="myChart"></canvas>
    </div>
    <div id='table-container' style="position: relative; padding-bottom: 10px;"></div>
</body>
<script>
    const tableContainer = document.getElementById('table-container');
    window.onload = prepareButton;
    let myChart, num;

    function prepareButton()
    {
        document.getElementById('run').onclick = function()
        {
            num = document.getElementById("num-run").value
            console.log(num)
            fetch('/run?num='+num).then(function (response) {
                if (response.ok) {
                    return response.text();
                } else {
                    return Promise.reject(response);
                }
            }).then(function (data) {
                loadResult()
            }).catch(function (err) {
                // There was an error
                console.warn('Something went wrong.', err);
            });
        }
    }

    function loadResult()
    {
        fetch('/result').then(function (response) {
            if (response.ok) {
                return response.json();
            } else {
                return Promise.reject(response);
            }
        }).then(function (data) {
            showInCharts(data)
        }).catch(function (err) {
            // There was an error
            console.warn('Something went wrong.', err);
        });
    }

    function showInCharts(testResults) {
        if (myChart !== undefined) {
            myChart.destroy();
        }

        let labels = [];
        let datasets = {
            getRedis: {
                label: 'Redis Get',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                fill: false,
                cubicInterpolationMode: 'monotone',
                data: [],
            },
            setRedis: {
                label: 'Redis Set',
                backgroundColor: 'rgb(99,185,255)',
                borderColor: 'rgb(99,148,255)',
                fill: false,
                data: [],
            },
            getScylla: {
                label: 'Scylla Get',
                backgroundColor: 'rgb(253,0,0)',
                borderColor: 'rgb(246,0,173)',
                fill: false,
                data: [],
            },
            setScylla: {
                label: 'Scylla Set',
                backgroundColor: 'rgb(255,177,99)',
                borderColor: 'rgb(255,187,99)',
                fill: false,
                data: [],
            },
            getPostgres: {
                label: 'Postgres Get',
                backgroundColor: 'rgb(0,253,253)',
                borderColor: 'rgb(0,238,246)',
                fill: false,
                data: [],
            },
            setPostgres: {
                label: 'Postgres Set',
                backgroundColor: 'rgb(40,133,0)',
                borderColor: 'rgb(36,129,5)',
                fill: false,
                data: [],
            },
        };

        const tableHeader = `
        <tr>
            <th>ID</th>
            <th>Get Redis</th>
            <th>Set Redis</th>
            <th>Get Scylla</th>
            <th>Set Scylla</th>
            <th>Get Postgres</th>
            <th>Set Postgres</th>
        </tr>`

        let tableBody = ""
        let totalData = {
            getRedis: 0,
            setRedis: 0,
            getScylla: 0,
            setScylla: 0,
            getPostgres: 0,
            setPostgres: 0,
        }

        let minData = {
            getRedis: 0,
            setRedis: 0,
            getScylla: 0,
            setScylla: 0,
            getPostgres: 0,
            setPostgres: 0,
        }

        let maxData = {
            getRedis: 0,
            setRedis: 0,
            getScylla: 0,
            setScylla: 0,
            getPostgres: 0,
            setPostgres: 0,
        }

        testResults.forEach(function (res){
            labels.push(res.ID+1)
            datasets.getRedis.data.push(res.Get.redis)
            datasets.setRedis.data.push(res.Set.redis)
            datasets.getScylla.data.push(res.Get.scylla)
            datasets.setScylla.data.push(res.Set.scylla)
            datasets.getPostgres.data.push(res.Get.postgres)
            datasets.setPostgres.data.push(res.Set.postgres)

            totalData.getRedis += res.Get.redis
            totalData.setRedis += res.Set.redis
            totalData.getScylla += res.Get.scylla
            totalData.setScylla += res.Set.scylla
            totalData.getPostgres += res.Get.postgres
            totalData.setPostgres += res.Set.postgres

            maxData.getRedis = res.Get.redis > maxData.getRedis ? res.Get.redis : maxData.getRedis
            maxData.setRedis = res.Set.redis > maxData.setRedis ? res.Set.redis : maxData.setRedis
            maxData.getScylla = res.Get.scylla > maxData.getScylla ? res.Get.scylla : maxData.getScylla
            maxData.setScylla = res.Set.scylla > maxData.setScylla ? res.Set.scylla : maxData.setScylla
            maxData.getPostgres = res.Get.postgres > maxData.getPostgres ? res.Get.postgres : maxData.getPostgres
            maxData.setPostgres = res.Set.postgres > maxData.setPostgres ? res.Set.postgres : maxData.setPostgres

            minData.getRedis = minData.getRedis < 1 || res.Get.redis < minData.getRedis ?  res.Get.redis : minData.getRedis
            minData.setRedis = minData.setRedis < 1 || res.Set.redis < minData.setRedis ?  res.Set.redis : minData.setRedis
            minData.getScylla = minData.getScylla < 1 || res.Get.scylla < minData.getScylla ?  res.Get.scylla : minData.getScylla
            minData.setScylla = minData.setScylla < 1 || res.Set.scylla < minData.setScylla ?  res.Set.scylla : minData.setScylla
            minData.getPostgres = minData.getPostgres < 1 || res.Get.postgres < minData.getPostgres ?  res.Get.postgres : minData.getPostgres
            minData.setPostgres = minData.setPostgres < 1 || res.Set.postgres < minData.setPostgres ?  res.Set.postgres : minData.setPostgres

            tableBody += `
            <tr>
                <td>${res.ID+1}</td>
                <td>${res.Get.redis}</td>
                <td>${res.Set.redis}</td>
                <td>${res.Get.scylla}</td>
                <td>${res.Set.scylla}</td>
                <td>${res.Get.postgres}</td>
                <td>${res.Set.postgres}</td>
            </tr>
            `
        });

        tableBody += `
            <tr>
                <td>Avg</td>
                <td>${totalData.getRedis / testResults.length}</td>
                <td>${totalData.setRedis / testResults.length}</td>
                <td>${totalData.getScylla / testResults.length}</td>
                <td>${totalData.setScylla / testResults.length}</td>
                <td>${totalData.getPostgres / testResults.length}</td>
                <td>${totalData.setPostgres / testResults.length}</td>
            </tr>
            <tr>
                <td>Min</td>
                <td>${minData.getRedis}</td>
                <td>${minData.setRedis}</td>
                <td>${minData.getScylla}</td>
                <td>${minData.setScylla}</td>
                <td>${minData.getPostgres}</td>
                <td>${minData.setPostgres}</td>
            </tr>
            <tr>
                <td>Max</td>
                <td>${maxData.getRedis}</td>
                <td>${maxData.setRedis}</td>
                <td>${maxData.getScylla}</td>
                <td>${maxData.setScylla}</td>
                <td>${maxData.getPostgres}</td>
                <td>${maxData.setPostgres}</td>
            </tr>
            `

        const data = {
            labels: labels,
            datasets: [
                datasets.getRedis,
                datasets.setRedis,
                datasets.getScylla,
                datasets.setScylla,
                datasets.getPostgres,
                datasets.setPostgres,
            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Test Redis Vs Scylla (in Microsecond)'
                    },
                },
                responsive: true,
                interaction: {
                    mode: 'index',
                    intersect: false,
                },
                stacked: false,
                scales: {
                    y: {
                        type: 'linear',
                        display: true,
                        position: 'left',
                        title: {
                            display: true,
                            text: 'Microsecond'
                        },
                    },
                    y1: {
                        type: 'linear',
                        display: true,
                        position: 'right',

                        // grid line settings
                        grid: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    },
                }
            }
        };

        let chartID = document.getElementById('myChart')
        myChart = new Chart(
            chartID,
            config
        );

        tableContainer.innerHTML = `<table>${tableHeader}${tableBody}</table>`;
    }
</script>
</html>